<div class="container-fluid home" id="home">
  <div class="background container-fluid"
    style="background-image: url('{{ if .Site.Params.background }}{{ .Site.Params.background }}{{ else }}/assets/images/default-background.jpg{{ end }}');">
  </div>
  <div class="container content text-center">
    <img src="{{ if .Site.Params.author.image }}{{ .Site.Params.author.image }}{{ else }}/assets/images/default-avatar.png{{ end }}" id="jumis"/>
    <h1 class="greeting">{{ .Site.Params.author.name }}</h1>
    {{ if .Site.Data.sections }}
      {{ range first 1 (sort .Site.Data.sections "section.weight") }}
        <a href="#{{ replace (lower .section.name) " " "-" }}"><i class="arrow bounce fa fa-chevron-down"></i></a>
      {{ end }}
    {{ end }}
  </div>
</div>
