{{ range .menus }}
  {{ $class:= "" }}
  {{ $icon:= "fa-plus-circle" }}
  {{ if or ($.ctx.HasMenuCurrent "sidebar" .)  ($.ctx.IsMenuCurrent "sidebar" .)}}
    {{ $icon = "fa-minus-circle"}}
    {{ $class = "active" }}
  {{end}}
  {{ if .HasChildren }}
    <li>
      <i class="fas {{ $icon }}"></i><a class="{{$class}}" href="{{ .URL }}">{{.Name}}</a>
      <ul class="{{ $class }}">
        {{ partial "navigators/sidebar.html" (dict "menus" .Children "ctx" $.ctx) }}
      </ul>
    </li>
  {{ else }}
    <li><a class="{{$class}}" href="{{ .URL }}">{{.Name}}</a></li>
  {{ end }}
{{ end }}
